$primary-color: #e9580c;

.car-details-page {
    .car-images-and-description {
        .car-details-swiper {
            .swiper-wrapper {
                .swiper-slide {
                    img {
                        width: 100%;
                    }
                }
            }

            .swiper-pagination {
                .swiper-pagination-bullet {
                    width: 70px;
                    background: none;
                    height: initial;
                    border: 1px solid $primary-color;
                    border-radius: 8px;
                    overflow: hidden;
                    opacity: unset;

                    img {
                        width: 100%;
                    }
                }

                .swiper-pagination-bullet-active {
                    width: 100px;
                    border: 3px solid $primary-color;


                }
            }
        }

    }
}

.page-my-cars {
    .table-responsive {
        table {
            tr {
                .action-cell {
                    display: flex;

                }
            }
        }
    }
}
