$primary-color: #e9580c;


.checkbox,
.inline-radio {
    column-gap: .3rem;
}

.car-details-page {
    .car-images-and-description {
        .car-details-swiper {
            .swiper-wrapper {
                .swiper-slide {
                    img {
                        width: 100%;
                    }
                }
            }

            .swiper-pagination {
                .swiper-pagination-bullet {
                    width: 70px;
                    background: none;
                    height: initial;
                    border: 1px solid $primary-color;
                    border-radius: 8px;
                    overflow: hidden;
                    opacity: unset;

                    img {
                        width: 100%;
                    }
                }

                .swiper-pagination-bullet-active {
                    width: 100px;
                    border: 3px solid $primary-color;


                }
            }
        }

    }
}

.page-my-cars {
    .table-responsive {
        table {
            tr {
                .action-cell {
                    display: flex;

                }
            }
        }
    }
}

.car-images {
    .form-images {
        button {
            width: 100%;
        }
    }
}

.create-car-page {
    .selectAll {
        padding: 0;
    }
}

.create-car-page,
.edit-car-page {
    .edit-btn-reset {
        a {
            text-decoration: none;
            color: $primary-color;

            &:hover {
                color: $primary-color;
            }
        }
    }

    .selectAll {
        padding: 0;


    }

    .featureBox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .checkbox {
            column-gap: .5rem;
        }
    }
}
