.checkbox,
.inline-radio {
  column-gap: 0.3rem;
}

.car-details-page .car-images-and-description .car-details-swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
}
.car-details-page .car-images-and-description .car-details-swiper .swiper-pagination .swiper-pagination-bullet {
  width: 70px;
  background: none;
  height: initial;
  border: 1px solid #e9580c;
  border-radius: 8px;
  overflow: hidden;
  opacity: unset;
}
.car-details-page .car-images-and-description .car-details-swiper .swiper-pagination .swiper-pagination-bullet img {
  width: 100%;
}
.car-details-page .car-images-and-description .car-details-swiper .swiper-pagination .swiper-pagination-bullet-active {
  width: 100px;
  border: 3px solid #e9580c;
}

.page-my-cars {
  /* The switch container */
  /* Hide default checkbox */
  /* The slider */
  /* The circle */
  /* When checked */
}
.page-my-cars .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}
.page-my-cars .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.page-my-cars .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 26px;
}
.page-my-cars .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
.page-my-cars input:checked + .slider {
  background-color: #4caf50;
}
.page-my-cars input:checked + .slider:before {
  transform: translateX(24px);
}
.page-my-cars .table-responsive table tr .action-cell {
  display: flex;
}

.car-images .form-images button {
  width: 100%;
}

.create-car-page .selectAll {
  padding: 0;
}

.create-car-page .edit-btn-reset a,
.edit-car-page .edit-btn-reset a {
  text-decoration: none;
  color: #e9580c;
}
.create-car-page .edit-btn-reset a:hover,
.edit-car-page .edit-btn-reset a:hover {
  color: #e9580c;
}
.create-car-page .selectAll,
.edit-car-page .selectAll {
  padding: 0;
}
.create-car-page .featureBox,
.edit-car-page .featureBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.create-car-page .featureBox .checkbox,
.edit-car-page .featureBox .checkbox {
  column-gap: 0.5rem;
}